body{
    background-image: url("../fond-accueil.png");
}

#entete{
    color: white;
    text-align: center;
}

.nav-head{
    display: flex;
    border: 1px solid black;
    background-color: #3B4241;

}

.nav-head a{
    text-decoration: none;
    color: #D4E8E5;
}

.nav-head-ul{
    display: flex;
    list-style-type: none;
}

.nav-head-ul li{
    padding-top : 20px;
}

.nav-head-ul a
{
    font-size: 1.3em;
    color: #181818;
    text-decoration: none;		/*ne pas souligner/surligner/barrer le texte*/
    color: #D4E8E5;
}

.nom{
    font-size: 50px;
}

/*[class*="col-"], footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}*/
section{
    padding-top: 100px;
}

#new-topic{
    font-size: 1.3em;
    background-color: green;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}

#link_new_topic{
    margin-top: 20px;
    padding-bottom: 20px;
}

.bloc_forum{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
}

#title{
    font-size: 1.5em;
}

#title, #link_new_topic{
    text-align: center;
}